body{
    background: rgb(4, 2, 131) !important;
    padding: 20px;
} 

/* INDEX PAGE */
#header-container{
    width: 100%;
    margin-top: 1rem;
}
.brand-text {
    position: relative;
    font-size: 15px;
    color:rgb(237, 173, 33);
    top: 5px;
    margin-left: 20px;
}
.first-select{
    display: block;
    margin-left: auto;
    background: rgb(4, 2, 131);
    color: #fff;
    outline: none;
    padding: 3px 15px;
    border-radius: 7px;
    position: relative;
    top: -30px;
}

.company__logo {
    width: 10%;
}
.admin__index__footer {
    display: flex;
    flex-direction: column;
    margin-top: -7rem;
    align-items: center;
    width: 100%;  
}

.admin__index__footer a{
    color: rgb(11, 173, 11);
}

.top__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(1, 85, 1);
    margin-left: 5rem;
}

/* MEDIA RULES */
@media screen and (max-width: 768px) {
    .brand-text {
        font-size: 21px;
    }
    
    .first-select{
       padding: 10px;
       margin-right: 20px;
       font-size: 1.3rem;
    }

    #page-icon {
        margin-top: -50px;
    }

    .resize {
        width: 250px;
        padding: 7px;
    }

    .company__logo {
        width: 20%
    }

    .admin__index__footer a{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {
    .brand-text {
        font-size: 0.9rem;
        margin-left: 5px;
    }

    .first-select{
       padding: 2px;
       font-size: 0.9rem;
       margin-left: 260px;
    }

    #page-icon {
        margin-top: -20px;
    }

    .resize {
        width: 150px;
        padding: 4px;
    }
    
    .company__logo {
        width: 28%
    }
    
    .admin__index__footer a{
        font-size: 0.9rem;
    }

    .bottom__links {
        width: 100%;
        margin: 0 auto;
    }
}


/* LOGIN PAGE */
.decoration{
    background: rgb(0, 132, 255);
    color: white;
    text-align: center;
}
.no-account{
    position: relative;
    top: 20px;
}
.reg-link{
    text-decoration: none;
    color:rgb(237, 173, 33);
}
.form-container{
    background: rgb(255, 253, 253);
    padding: 30px;
}
.shift-section{
    position: relative;
    top:70px;
}
.search-container{
    position: absolute;
    top: 30%;
    right: 5%;
}
.search-input{
    background: rgb(244, 245, 245) !important;
    display: block;
    /* margin-right: 50px; */
    width: 50% !important;
    height: 70% !important;
    border-radius: 15px !important;
}
.login-input{
    /* border-radius: 10px !important; */
    border-radius: 10px !important;
    border-width: 4px !important;
    border-color: rgb(186, 243, 245) !important;
}
.lnk-forget{
    text-decoration: none;
    color:rgb(0, 132, 255);
    font-size: 8px;
    font-weight: bold;
    float: right;
    margin-right:5px;
    position:absolute;
    top:71%;
    left:59%;
}
/* @media (max-width: 974px) {
    .lnk-forget{
        font-size: 5px;
        color: red;
    }
} */
/* @media (max-width: 693px) {
    .lnk-forget{
        font-size: 5px;
        color: red;
        position:absolute;
        top:85%;
    } */
/* } */

.login-submit{
    display: block;
    border: 1px solid rgb(63, 237, 243);
    border-radius: 10px;
    background: rgb(63, 237, 243);
    box-shadow: 0px 0px 10px 0px #000;
    opacity: 0.5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;

}